*{
  margin: 0;
  padding: 0;
}

body{
  background-color: cadetblue;
  background-image:-webkit-linear-gradient(rgb(175,75,75),rgb(31,31,31),rgb(59,153,148));
  min-height :800px; 
}

#game{
  height:500px;
  width:400px;
  border:1px solid black;
  background:url(bg2.avif);
  background-size: cover;
  margin:1rem auto;
  overflow:hidden;
}

#block{
  height:500px;
  width:50px;
  background-color:blue;
  position:relative;
  left:200px;
  /* now we animate the block */
  animation:block 2s infinite linear;
}

/* keyframes is used to animate the block */
/* when it is 0% it is at 400px and when it is 100% it is at -50px */
@keyframes block{
  0%{
    left:400px;
  }
  100%{
    left:-50px;
  }
}

/* HOLE->FROM WHICH THE BIRD GOES */
#hole{
  height:200px;
  width:50px;
  background-color:yellow;
  position:relative;
  left:400px;
  top:-500px;
  animation:block 2s linear infinite;
}

#bird{
  position: fixed;
  top:100px;
  height:50px;
  width:50px;
}

#bird img{
  height: 40px;
  width: 40px;
}

#result{
  height:200px;
  width:500px;
  background-color: brown;
  margin :5rem auto;
  border-radius:20px;
  text-align:center;
}

#btn{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 11px;
  background-color:green;
  color:white;
  font-size: 1.5rem;
  text-transform:uppercase;
  margin-top: 1rem;
  cursor:pointer;
}

#text{
  margin-top: 1rem;
  font-size: 2rem;
  color:seashell;
}
